In [1]:
from pathlib import Path
import pandas as pd
import yfinance as yf
import numpy as np

### Data import, variable assignments, pull from y finance into 5y historical dataframes

In [2]:
# manual inputs, to be replaced by stock and portfolio dfs and variables from analytics team

tickr = "NIO"
tickrs = ["META","AMZN","GOOG","AAPL","NFLX"]
mkttickr = "^GSPC"

#variable assignment
stock = yf.Ticker(tickr)
portfolio = yf.Tickers(tickrs)
mkt = yf.Ticker(mkttickr)

#ticker names to rename columns in dfs
ticker_names = [tickr,tickrs[0],tickrs[1],tickrs[2],tickrs[3],tickrs[4],"SP500"]

In [3]:
#historical data dataframes

stock_history_df = stock.history(period = "5y")
portfolio_history_df = portfolio.history(period = "5y")
mkt_history_df = mkt.history(period = "5y")

[*********************100%***********************]  5 of 5 completed

## Required data for creating dashboard

### Closing Prices 
Please make sure that dataframe is structured in a way where index is the date, and columns include every relevant ticker as needed. Dataframe should include daily prices for the last 5 years as pulled from yfinance.

In [4]:
#prices df
prices_df = pd.concat([
     stock_history_df["Close"],portfolio_history_df["Close"],mkt_history_df["Close"]],
     axis = 'columns',
     join = 'inner'
    )

#renaming columns, plotting prices (no SP500)
prices_df.columns = [ticker_names[0],ticker_names[1],ticker_names[2],ticker_names[3],ticker_names[4],ticker_names[5],ticker_names[6]]

prices_df

,NIO,META,AMZN,GOOG,AAPL,NFLX,SP500
Date,,,,,,,
2018-09-12 00:00:00-04:00,6.600,53.245560,99.500000,58.140999,162.000000,369.950012,2888.919922
2018-09-13 00:00:00-04:00,11.600,54.531712,99.493500,58.766499,161.360001,368.149994,2904.179932
2018-09-14 00:00:00-04:00,9.900,53.912720,98.509499,58.626499,162.320007,364.559998,2904.979980
2018-09-17 00:00:00-04:00,8.500,52.477234,95.401497,57.802502,160.580002,350.350006,2888.800049
2018-09-18 00:00:00-04:00,7.680,52.563942,97.052498,58.061001,160.300003,367.649994,2904.310059
...,...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,13.280,140.419998,113.669998,98.709999,133.789993,229.979996,3612.389893
2022-10-11 00:00:00-04:00,12.830,138.979996,112.209999,98.050003,128.539993,214.289993,3588.840088
2022-10-12 00:00:00-04:00,12.880,138.339996,112.900002,98.300003,127.500000,220.869995,3577.030029
2022-10-13 00:00:00-04:00,12.780,142.990005,112.529999,99.709999,130.289993,232.509995,3669.909912
2022-10-14 00:00:00-04:00,11.845,138.645294,107.260002,97.500999,127.400002,230.689102,3593.439941

### Daily Returns 
Please make sure that dataframe is structured in a way where index is the date, and columns include every relevant ticker as needed. Dataframe should include  daily returns for the last 5 years.

In [5]:
# combined returns dataframe (close price, daily, 5 years)

#combine data frames using only Close column
returns_df = pd.concat([
     stock_history_df["Close"],portfolio_history_df["Close"],mkt_history_df["Close"]],
     axis = 'columns',
     join = 'inner'
)
#renaming columns
returns_df.columns = [ticker_names[0],ticker_names[1],ticker_names[2],ticker_names[3],ticker_names[4],ticker_names[5],ticker_names[6]]

#calculate returns
returns_df = returns_df.pct_change().dropna() 

returns_df

,NIO,META,AMZN,GOOG,AAPL,NFLX,SP500
Date,,,,,,,
2018-09-13 00:00:00-04:00,0.757576,0.024155,-0.000065,0.010758,-0.003951,-0.004866,0.005282
2018-09-14 00:00:00-04:00,-0.146552,-0.011351,-0.009890,-0.002382,0.005949,-0.009751,0.000275
2018-09-17 00:00:00-04:00,-0.141414,-0.026626,-0.031550,-0.014055,-0.010720,-0.038978,-0.005570
2018-09-18 00:00:00-04:00,-0.096471,0.001652,0.017306,0.004472,-0.001744,0.049379,0.005369
2018-09-19 00:00:00-04:00,0.106771,0.000595,-0.007537,0.008500,0.017218,-0.001877,0.001253
...,...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,-0.034884,0.002356,-0.007769,-0.008637,0.002548,0.023270,-0.007492
2022-10-11 00:00:00-04:00,-0.033886,-0.010255,-0.012844,-0.006686,-0.039241,-0.068223,-0.006519
2022-10-12 00:00:00-04:00,0.003897,-0.004605,0.006149,0.002550,-0.008091,0.030706,-0.003291
2022-10-13 00:00:00-04:00,-0.007764,0.033613,-0.003277,0.014344,0.021882,0.052701,0.025966
2022-10-14 00:00:00-04:00,-0.073161,-0.030385,-0.046832,-0.022154,-0.022181,-0.007831,-0.020837

## Cummulative Returns 
Please make sure that dataframe is structured in a way where index is the date, and columns include every relevant ticker as needed. Dataframe should include cummulative daily returns for the last 5 years.

In [8]:
# Cummulative returns
cumulative_returns_df = (1 + returns_df).cumprod()
cumulative_returns_df

,NIO,META,AMZN,GOOG,AAPL,NFLX,SP500
Date,,,,,,,
2018-09-13 00:00:00-04:00,1.757576,1.024155,0.999935,1.010758,0.996049,0.995134,1.005282
2018-09-14 00:00:00-04:00,1.500000,1.012530,0.990045,1.008350,1.001975,0.985430,1.005559
2018-09-17 00:00:00-04:00,1.287879,0.985570,0.958809,0.994178,0.991235,0.947020,0.999959
2018-09-18 00:00:00-04:00,1.163636,0.987199,0.975402,0.998624,0.989506,0.993783,1.005327
2018-09-19 00:00:00-04:00,1.287879,0.987786,0.968050,1.007112,1.006543,0.991918,1.006587
...,...,...,...,...,...,...,...
2022-10-10 00:00:00-04:00,2.012121,2.637215,1.142412,1.697769,0.825864,0.621652,1.250429
2022-10-11 00:00:00-04:00,1.943939,2.610171,1.127739,1.686418,0.793457,0.579240,1.242277
2022-10-12 00:00:00-04:00,1.951515,2.598151,1.134673,1.690717,0.787037,0.597027,1.238189
2022-10-13 00:00:00-04:00,1.936364,2.685482,1.130955,1.714969,0.804259,0.628490,1.270340
2022-10-14 00:00:00-04:00,1.794697,2.603885,1.077990,1.676975,0.786420,0.623568,1.243870

## Ratios table
Please make sure dataframe is structured in a way where all the relevant tickers have a column per each ratio. Feel free to also include Alpha if calculated.

In [ ]:
# Stock Covariance Calculation into a df
covariance_df = returns_df.cov()
covariance_df = covariance_df[["SP500"]]
covariance_df.columns = ["Covariance"]
# display(covariance_df)

#variance calculation
variance = returns_df['SP500'].var()
# print(variance)

# Beta calculation into a df
beta_df = returns_df.cov()/variance
beta_df = beta_df[["SP500"]]
beta_df.columns = ["Beta"]
# beta_df

In [ ]:
#Create df starting by correlation
ratios_df = returns_df.corr()
ratios_df.drop(ratios_df.columns[0:-1],axis=1,inplace = True) #drop columns for correlation against each other, leave only correlation against SP500
ratios_df.rename(columns = {"SP500":"Correlation"},inplace = True) #rename column from SP500 to Correlation

#calculate additional ratios 
ratios_df["Volatility"] = returns_df.std() * np.sqrt(252)
ratios_df["Sharpe"] =  (returns_df.mean() * 252) / (returns_df.std() * np.sqrt(252))
ratios_df["Sortino"] = (returns_df.mean() * 252) / (returns_df[returns_df<0].std() * np.sqrt(252))

#add covariance and beta from calculation in cell above
ratios_df["Covariance"] = covariance_df["Covariance"]
ratios_df["Beta"] = beta_df["Beta"]
ratios_df